
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        <a href="/Home/SignIn">登陆</a> |
        <a href="/Home/SignOut">退出登陆</a> |
        <a href="/Home/Current">当前登录用户信息</a> |
        <a href="/Home/MustSignIn">登陆用户才能访问</a> |
        <a href="/Home/MustSpecialRole">拥有dev角色才能访问</a>
    </div>
</body>
</html>
