
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MustSpecialRole</title>
</head>
<body>
    <div>
        你拥有dev角色.
    </div>
</body>
</html>